#displaySection {
  border: solid blue 1px;
}

.component-section {
  cursor: pointer;
}

/*General info section styling */
#nameText {
  font-weight: 900;
}

#emailPhoneLocationText {
  margin-top: 1em;
  font-size: 0.75em;
}

#nameDisplay {
  position: relative;
}

#generalInfoText {
  position: absolute;
  bottom: -0.7em;
  left: 2em;
}

@media only screen and (max-width: 576px) {
  #emailPhoneText {
    margin-top: 0;
  }
  #generalInfoText {
    position: static;
  }
}
