body {
  font-family: 'Inter', sans-serif;
  background-color: #fefefa;
}

#main-container {
  padding-top: 2em;
}

.component-section {
  cursor: pointer;
}

h1 {
  font-weight: 900;
}

/* Form */
#summarySection {
  margin-bottom: 1.5em;
}

button {
  margin: 0.25em 0 0.25em 0;
}
/*Displayed information section */
#displaySection {
  border: solid black 2px;
  max-width: 768px;
  margin: auto;
  background-color: white;
  box-shadow: 0px 3px 8px rgb(0, 0, 0, 0.5);
}

#page {
  padding: 0 1em 0 1em;
}

/*General info section styling */
#educationDisplay {
  margin-top: 1em;
}

#generalDisplay {
  margin-top: 3em;
}

#nameText {
  font-weight: 900;
  font-size: 2.35em;
}

#emailPhoneLocationText {
  margin-top: 0.5em;
  font-size: 0.75em;
}

#nameDisplay {
  position: relative;
}

#generalInfoText {
  position: absolute;
  bottom: -0.7em;
  left: 2em;
}

.generalIcon {
  margin-right: 0.5em;
}

hr {
  border-top: 2px solid black;
  opacity: 0.85;
}

@media only screen and (max-width: 576px) {
  #emailPhoneText {
    margin-top: 0;
  }
  #generalInfoText {
    position: static;
  }
}

/* Education section */
@media only screen and (min-width: 576px) {
  #degreeInfo {
    margin-top: -1em;
  }
}

#dateDisplay {
  font-size: 0.9em;
}

/* Experience Section */
#experienceDisplay {
  margin-bottom: 3em;
}

.experienceRow {
  margin-bottom: -1em;
}

#startDateDisplay {
  font-size: 0.9em;
}

#endDateDisplay {
  font-size: 0.9em;
}
